<div *ngIf="listPost.length > 0">
  <h2 >Posts</h2>
  <ul class="list-group">
    <app-post-list-item-component  *ngFor="let post of listPost"
                                   [post]="post"></app-post-list-item-component>
  </ul>
</div>
<div *ngIf="listPost.length <= 0">
  <h4 >Aucun post existant :-(</h4>
</div>


