<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIt - post.unLoveIt > 0,
                'list-group-item-danger': post.loveIt - post.unLoveIt < 0}">


  <h4 style="float: left">{{ post.title }} </h4>
  <div style="float: right">{{ post.created_at | date:"short"}}</div>

  <p style="clear: both">{{ post.content }}</p>

  <button class="btn btn-success"
          (click)="onLoveIt()">Love it !!! ({{ post.loveIt }})</button>
  <button class="btn btn-danger"
          (click)="onUnLoveIt()">Don't love it !!! ({{ post.unLoveIt }})</button>
  <div class="pull-right">
  <button class="btn btn-danger pull-right-right"
          (click)="onDelete(post)">Supprimer post</button>
  </div>
</li>
